{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
{% load static %}

<div class="ans-title-container">
    <input type="text" class="ans-title-text" value="アンケート" disabled>
</div>

<!-- 質問コンテナ -->
<div class="ans-container">
    <div class="ques-lane">
        <label class="ans-name">あなたの好きなプログラミング言語は何ですか？</label>
    </div>
    
    <!-- ラジオボタンの配置例 -->
    <div>
        <div class="radio">
            <input type="radio" name="radio" id="radio1">
            <label for="radio1" class="option-text">Python</label>
        </div>

        <div class="radio">
            <input type="radio" name="radio" id="radio2">
            <label for="radio2" class="option-text">JavaScript</label>
        </div>

        <div class="radio">
            <input type="radio" name="radio" id="radio3">
            <label for="radio3" class="option-text">Java</label>
        </div>

        <div class="radio">
            <input type="radio" name="radio" id="radio4">
            <label for="radio4" class="option-text">C++</label>
        </div>

        <div class="radio">
            <input type="radio" name="radio" id="radio5">
            <label for="radio5" class="option-text">Ruby</label>
        </div>
    </div>
</div>

<div class="smp-btn">
    <button onclick=location.href="{% url 'templates:fin' %}">回答を送信</button>
</div>
{% endblock content %}