<!-- display_context.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Display Context</title>
</head>

<body>
    <h1>Context Data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Context Content</th>
                <th>Question ID</th>
                <th>Survey ID</th>
            </tr>
        </thead>
        <tbody>
            {% for i in jsondata %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.context.content }}</td>
                <td>{{ i.question_id }}</td>
                <td>{{ i.question.survey_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>