{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
{% load static %}

<div class="container">
    <div class="title-bar">
        <h1>{{ title }}</h1>
        <!-- アンケートの情報を取り出す -->
        <p>アンケート情報ここから</p>
        <p>{{ survey.title }}</p>
        <!-- <p>{{ survey.create_at }}</p> -->
        <!-- <p>{{ survey.create_user }}</p> -->
        <p>―――</p>
    </div>
    <form action="/complete/" method="post">
        {% csrf_token %}
        <!-- Survey_idをキーとするQuestionをすべて取り出す -->
        {% for q in question %}
        <p>{{ q.title }}</p>
        <input type={{q.type}}></br>
        {% empty %}
        <p>質問はありません</p>
        {% endfor %}
        <p>―――</p>
        <input type="submit" value="送信する">
    </form>
</div>
{% endblock content %}