{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
{% load static %}

<div class="ans-container">
    <div class="title-bar">
        <h1>{{ title }}</h1>
    </div>
    <form action="/complete/" method="post">
        {% csrf_token %}

        <!-- Survey_idをキーとするQuestionをすべて取り出す -->
        {% for q in question %}
        <p class="q-title">{{ q.title }}</p>

        {% if q.type.type == "textarea" %}
        <!-- テキスト入力用のフィールド -->
        <textarea class="form-input" name="answer_{{ q.id }}" rows="4" cols="30"></textarea>

        {% elif q.type.type == "checkbox" %}
        <!-- チェックボックス用のフィールド（複数の選択肢をまとめて表示） -->
        <div class="form-group form-check">
            {% for choice in q.choice_set.all %}
            <label class="form-label">
                <input type="checkbox" name="answer_{{ q.id }}" value="{{ choice.id }}"> {{ choice.text }}
            </label>
            {% endfor %}
        </div>
        {% elif q.type.type == "radio" %}
        <!-- ラジオボタン用のフィールド -->
        <div class="form-group form-radio">
            {% for choice in q.choice_set.all %}
            <label class="form-label">
                <input type="radio" name="answer_{{ q.id }}" value="{{ choice.id }}"> {{ choice.text }}
            </label>
            {% endfor %}
        </div>
        {% elif q.type.type == "select" %}
        <!-- プルダウンリスト用のフィールド -->
        <select class="form-input" name="answer_{{ q.id }}">
            <option>選択してください</option>
            {% for choice in q.choice_set.all %}
                <option value="{{ choice.id }}">{{ choice.text }}</option>
            {% endfor %}
        </select>
        <!-- 他のタイプがあればここに追加 -->
        {% else %}
        <p>入力タイプが不明です</p>
        {% endif %}
        <br>
        {% empty %}
        <p>質問はありません</p>
        {% endfor %}

        <input class="form-submit" type="submit" value="送信する">
    </form>
</div>
{% endblock content %}