<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>アカウント登録</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body class="signup-body">
    <div class="signup-container">
      <h2 class="signup-title">アカウント登録</h2>
      <form class="signup-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="signup-submit-button" type="submit">登録</button>
      </form>
      <div class="signup-container-login">
        <button
          class="signup-login-button"
          onclick="location.href='{% url 'accounts:login' %}'"
        >
          ログイン
        </button>
      </div>
    </div>
  </body>
</html>
