{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
{% load static %}


<!-- テーブル -->
<!-- <table>
        <tr>
            {% for i in header %}
                <th>{{ i }}</th>
            {% endfor %}
            {% for i2 in survey %}
                <td>{{i2}}</td>
            {% endfor %}
        </tr>
</table> -->
<!-- surveys/list.htmlへ遷移 -->

<div class="container">
    <div class="title-bar">
        <h1>{{ title }}</h1>
    </div>
    <input type="text" class="title-text" placeholder="タイトル">
</div>


<!-- 質問ごとのコンテナ -->
<div class="ques-container">
    <!-- タイトルと削除 -->
    <div class="ques-lane">
        <input type="text" class="ques-name" placeholder="質問のタイトルを入力">
        <img src="{% static "img/delbox.png" %}" class="ques-del">
    </div>

    <!-- テキストの配置例 -->
    <div>
        <textarea rows="3" class="ques-text" placeholder="回答を入力してください" disabled></textarea>
    </div>
</div>

<!-- 質問コンテナ -->
<div class="ques-container">
    <div class="ques-lane">
        <input type="text" class="ques-name" placeholder="質問のタイトルを入力">
        <img src="{% static "img/delbox.png" %}" class="ques-del">
    </div>

    <!-- ラジオボタンの配置例 -->
    <div>
        <div class="radio">
            <input type="radio" name="radio">
            <input type="text" class="option-text" placeholder="オプション名を入力">
            <button class="option-del">✕</button>
        </div>

        <div class="radio">
            <input type="radio" name="radio">
            <input type="text" class="option-text" placeholder="オプション名を入力">
            <button class="option-del">✕</button>
        </div>
        <button class="option-add">＋ オプションを追加</button>
    </div>
</div>

<!-- 質問コンテナ -->
<div class="ques-container">
    <div class="ques-lane">
        <input type="text" class="ques-name" placeholder="質問のタイトルを入力">
        <img src="{% static "img/delbox.png" %}" class="ques-del">
    </div>

    <!-- チェックボックスの配置例 -->
    <div>
        <div>
            <input type="checkbox">
            <input type="text" class="option-text" placeholder="オプション名を入力">
            <button class="option-del">✕</button>
        </div>

        <div>
            <input type="checkbox">
            <input type="text" class="option-text" placeholder="オプション名を入力">
            <button class="option-del">✕</button>
        </div>
        <button class="option-add">＋ オプションを追加</button>
    </div>
</div>

<!-- 質問コンテナ -->
<div class="ques-container">
    <div class="ques-lane">
        <input type="text" class="ques-name" placeholder="質問のタイトルを入力">
        <img src="{% static "img/delbox.png" %}" class="ques-del">
    </div>

    <!-- プルダウンの配置例 -->
    <div>
        <input type="text" class="ques-text" placeholder="(要素1,要素2,要素3)と入力">
    </div>
</div>

<!-- 質問の新規追加 -->
<div class="add-ques">
    <!-- 新しい質問を入れるdiv -->
    <div id="inputFields"></div>

    <button class="add-ques-btn" id="input-cre" onclick="showInputOptions()">＋ 新規追加</button>

    <!-- 新規追加ボタンを押すと出現 -->
    <!-- 質問のタイプを選択 -->
    <div id="inputOptions">
        <input type="button" class="input-option" value="テキスト" onclick="createInputField('text')">
        <input type="button" class="input-option" value="ラジオボタン" onclick="createInputField('radio')">
        <input type="button" class="input-option" value="チェックボックス" onclick="createInputField('checkbox')">
        <input type="button" class="input-option" value="プルダウン" onclick="createInputField('select')">
    </div>
</div>

<div class="ques-container">
    <!-- プレビューを表示する場所 -->
    <div id="formPreview" class="form-preview"><h3>Form Preview</h3></div>

    <!-- 質問を作成 -->
    <div class="create-ques">
        <button type="submit" class="create-ques-btn">質問を作成</button>
        <button type="submit" class="cancel-ques-btn" onclick=location.href="{% url 'templates:info' %}">キャンセル</button>
    </div>
</div>
{% endblock content %}