{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
{% load static %}

    <div class="container">
        <div class="title-bar">
            <h1>{{ title }}</h1>
        </div>
        <input type="text" name="title-text" class="title-text" placeholder="タイトル">
    </div>

    <!-- 質問の新規追加 -->
    <div class="add-ques">
        <!-- 新しい質問を入れるdiv -->
        <div id="inputFields"></div>
        <button class="add-ques-btn" id="input-cre" onclick="createInputField(event,'text')">＋ 新規追加</button>
    </div>

    <div class="submit-container">
        <!-- 質問を作成 -->
        <div class="create-ques">
            <button type="submit" class="create-ques-btn" id="create-ques-btn" name="action" value="create">質問を作成</button>
            <button type="button" class="cancel-ques-btn" onclick=location.href="{% url 'templates:list' %}">キャンセル</button>
        </div>
    </div>
    </form>

{% endblock content %}