{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
{% load static %}

<div class="container">
    <input type="text" class="title-text" placeholder="タイトル">
</div>

<div>
    <!-- タイトルと削除 -->
    <div>
        <input type="text" placeholder="質問のタイトルを入力">
        <img src="{% static "img/delbox.png" %}" class="ques-del">
    </div>

    <!-- テキストの配置例 -->
    <div>
        <textarea rows="3" placeholder="回答を入力してください" disabled></textarea>
    </div>
</div>
    
<div>
    <!-- 質問を作成 -->
    <div>
        <button type="submit">公開</button>
        <button type="submit" >一時保存</button>
        <button onclick="history.back()">キャンセル</button>
    </div>
    
</div>
{% endblock content %}