{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
{% load static %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="container">
        <div class="title-bar">
            <h1>{{ title }}</h1>
        </div>
        <input type="text" name="title-text" class="title-text" placeholder="タイトル">
    </div>

    <!-- 質問ごとのコンテナ -->
    <div class="ques-container">
        <!-- タイトルと削除 -->
        <div class="ques-lane">
            <input type="text" name="ques-title" class="ques-title" placeholder="質問のタイトルを入力">
            <input type="hidden" name="ques-type" value="1">
            <img src="{% static "img/delbox.png" %}" class="ques-del" onclick="ques_del(this)">
        </div>

        <!-- テキストの配置例 -->
        <div>
            <textarea rows="3" name="ques-text" class="ques-text" placeholder="回答を入力してください" disabled></textarea>
        </div>
    </div>

    <!-- 質問の新規追加 -->
    <div class="add-ques">
        <!-- 新しい質問を入れるdiv -->
        <div id="inputFields"></div>

        <button class="add-ques-btn" id="input-cre" onclick="showInputOptions(event)">＋ 新規追加</button>

        <!-- 新規追加ボタンを押すと出現 -->
        <!-- 質問のタイプを選択 -->
        <div id="inputOptions">
            <input type="button" class="input-option" value="テキスト" onclick="createInputField(event,'text')">
            <input type="button" class="input-option" value="チェックボックス" onclick="createInputField(event,'checkbox')">
        </div>
    </div>

    <div class="ques-container">
        <!-- 質問を作成 -->
        <div class="create-ques">
            <button type="submit" class="create-ques-btn" name="action" value="create">質問を作成</button>
            <button type="submit" class="cancel-ques-btn" onclick=location.href="{% url 'templates:list' %}">キャンセル</button>
        </div>
    </div>
    </form>

{% endblock content %}