<!-- surveys/templates/surveys/survey_list.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Survey List</title>
</head>

<body>
    <h2>All Surveys</h2>
    <p>survey table</p>
    <table border="1" style="border-collapse: collapse">
        <tr>
            {% for i in sh %}
            <!-- headerを使って表の見出し行を表示 -->
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        <!-- 内容の表示 -->
        <!-- for文の開始 -->
        {% for i in s %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td><a href="{{ i.url }}" target="_blank">{{ i.url }}</a></td>
            <!-- <td><a href="{{ i.url }}" target="_blank">{{ i.title }}</a></td> -->
            <td>{{ i.create_at }}</td>
            <td>{{ i.create_user }}</td>
            <td>{{ i.delete_flag }}</td>
        </tr>
        {% endfor %}
        <!-- for文の終了 -->
    </table>
    <p>question table</p>
    <table border="1" style="border-collapse: collapse">
        <tr>
            {% for i in qh %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        {% for i in q %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.survey_id }}</td>
            <td>{{ i.type_id }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>choicetype table</p>
    <table border="1" style="border-collapse: collapse">
        <tr>
            {% for i in cth %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        {% for i in ct %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.type }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>choicetable</p>
    <table border="1" style="border-collapse: collapse">
        <tr>
            {% for i in ch %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        {% for i in c %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.text }}</td>
            <td>{{ i.question_id }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'templates:info' %}">質問一覧へ</a>
</body>

</html>