{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
<div class="container">
    <div class="title-bar">
        <h1>質問一覧</h1>
    </div>
    <div class="buttons">
        <h3>top > 質問一覧 </h3>
        <button class="right-button">編集</button>
        <button>削除</button>
    </div>
    <div class="scrollable-table">
        <table>
            <tr>
                <th class="checkbox-column">
                    <label class="styled-checkbox">
                        <input type="checkbox">
                    </label>
                </th>
                <th>ステータス</th>
                <th>質問タイトル</th>
                <th>URL</th>
                <th>作成日</th>
                <th>ユーザー</th>
            </tr>
            <tr>
                <td class="checkbox-column"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="checkbox-column"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="checkbox-column"><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- Add more rows as needed -->
            <!-- ... -->
        </table>
    </div>
    <div class="add-button">
        <button>新規作成</button>
        <a href="{% url 'templates:delete' %}">削除ページへ</a>
    </div>
</div>
{% endblock content %}