{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
<div class="list_ques-container">
    <div class="scrollable-card-container">
        <div class="card-wrapper">
            {% if val %}
                {% for i in val %}
                <div class="card" onclick="location.href='{% url 'templates:answer' i.id %}'">
                    <div class="card-header">
                        <h2>
                            {{ i.title }}
                        </h2>
                    </div>
                    <div class="card-body">
                        <p>作成日時: {{ i.create_at|date:"Y-m-d" }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'templates:ag_data' i.id %}" class="details-link">
                            詳細を見る
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="no-results">
                    ※ 該当するアンケートがありませんでした。
                </div>
            {% endif %}
        </div>
    </div>

    <div class="list_ques-search_container">
        <form method="get">
            <input type="search" 
                name="query" 
                value="{{ request.GET.query }}"
                placeholder="キーワードを入力">
        </form>
    </div>
    {% comment %} 太陽 {% endcomment %}
    <div class="wrapper">
      <div class="circle-frame1">
        <div class= "triangle"></div>
      </div>
      <div class="circle-frame2">
        <div class= "triangle"></div>
      </div>
      <div class="circle-frame3">
        <div class= "triangle"></div>
      </div>
      <div class="circle-frame4">
        <div class= "triangle"></div>
      </div>
      <div class="circle-frame5">
        <div class= "triangle"></div>
      </div>
      <div class="circle-frame6">
        <div class= "triangle"></div>
      </div>
      <div class="circle-frame7">
        <div class= "triangle"></div>
      </div>
      <div class="circle-frame8">
        <div class= "triangle"></div>
      </div>
    </div>
    {% comment %} 鳥 {% endcomment %}
    <div class="bird"></div>
    <div class="bird -type_2"></div>
    <div class="bird -type_3"></div>
    {% comment %} 雲 {% endcomment %}
    <div class="create_ques-cloud-container-1"></div>
    <div class="create_ques-cloud-container-2"></div>
    <div class="create_ques-cloud-container-3"></div>
    <div class="create_ques-cloud-container-4"></div>
    <div class="create_ques-cloud-container-5"></div>
    <a href="create_ques" class="btn btn-malformation btn-malformation--pastel">新規作成</a>
</div>
{% endblock content %}