{% block content %}
<div>
    <p>{{title}}</p>
    <table border="1" style="border-collapse: collapse">
        <!-- <tr>
            {% for i in header %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr> -->
        <tr>
            <td>qset:select_related()</td>
            <td>{{ qset }}</td>
        </tr>
        <tr>
            <td>qset title</td>
            <td>{{ qset.title }}</td>
        </tr>
        <tr>
            <td>oset:select_related()</td>
        </tr>
        <tr>
            <td>oset title</td>
            <td>{{ oset.survey }}</td>
        </tr>
        <tr>
            {% for qset in qset %}
            <td>for qset</td>
            <td>{{ qset }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>data2:filter</td>
            <td>{{ data2 }}</td>
        </tr>
        <tr>
            {% for data2 in data2 %}
            <td>for data2.title</td>
            <td>{{ data2.title }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>dict</td>
            <td>{{ dict }}</td>
        </tr>
        {% for i in dict %}
        <tr>
            <td>dict i:dict for queryset</td>
            <td>{{ i }}</td>
        </tr>
        {% endfor %}
    </table>
    <table border="1" style="border-collapse: collapse">
        <tr>
            {% for i in header %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for qset in qset %}
            <td>{{ qset.title }}</td>
            {% endfor %}
            {% for cset in cset %}
            <td>{{ cset.text }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>qset.review_set.all</td>
            <td>{{ qset.review_set.id }}</td>
        </tr>
        <tr>
            {% for qset in qset %}
            <td>{{ qset.survey.id }}</td>
            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}