{% extends 'base.html' %}

{% block base %}
{{ title }}
{% endblock base %}

{% block content %}
{% load static %}

<div class="tem_list-container">
    <div class="title-bar">
        <h1>{{ title }}</h1>
    </div>
    <div class="tem_list-card-container">
        {% for i in val %}
        <a href="{% url 'templates:edit_ques' i.id %}" class="detail-link">
            <div class="tem_list-card">
                <h2 class="tem_list-card-title">{{ i.title }}</h2>
                <p class="tem_list-card-date">作成日時: {{ i.create_at }}</p>
                <div class="tem_list-card-actions">
                    <p>編集する</p>
                    <form method="POST" action="{% url 'templates:delete_ques' i.id %}" class="delete-form">
                        {% csrf_token %}
                        <button type="submit" class="delete-button" onclick="return confirm('本当に削除しますか？');">削除</button>
                    </form>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="button-group">
        <button class="action-button" onclick=location.href="{% url 'templates:al_list' %}">公開済み一覧</button>
        <button class="action-button" onclick=location.href="{% url 'templates:create_ques' %}">新規作成</button>
    </div>
</div>

{% endblock content %}