<!DOCTYPE html>
<html>

<head>
    <title>質問一覧</title>
</head>

<body>
    <h1>{{ title }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>URL</th>
                <th>作成日時</th>
                <th>作成ユーザー</th>
                <th>削除済</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
            <tr>
                <td>{{ survey.id }}</td>
                <td>{{ survey.title }}</td>
                <td>{{ survey.url }}</td>
                <td>{{ survey.create_at }}</td>
                <td>{{ survey.create_user }}</td>
                <td>{{ survey.delete_flag }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'templates:delete' %}">削除ページへ</a>
</body>

</html>