<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block base %}
        {% endblock base %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>
    <header>
        <h1 class="appname">EchoNest</h1>
        <nav class="nav">
            <ul class="nav-group">
              <li class="nav-item"><a href="#">ホーム</a></li>
              <li class="nav-item"><a href="#">お問い合わせ</a></li>
              <li class="nav-item"><img src="{% static "img/icon.png" %}" class="user"></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>